<%= form_with(model: fighter) do |form| %>
  <% if fighter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fighter.errors.count, "error") %> prohibited this fighter from being saved:</h2>

      <ul>
        <% fighter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class:"form-control", placeholder:"Murat" %>
  </div>

  <div class="field form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class:"form-control",placeholder:"Gurbuz" %>
  </div>

  <div class="field form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone, class:"form-control", placeholder:"0544 222 2222" %>
  </div>

  <div class="field form-group">
    <%= form.label :style %>
    <%= form.text_field :style, class:"form-control", placeholder:"Kick Boxing" %>
  </div>

  <div class="field form-group">
    <%= form.label :rank %>
    <%= form.text_field :rank, class:"form-control", placeholder:"Black Belt" %>
  </div>

  <div class="field form-group ">
    <%= form.label :start_date %>
    <%= form.text_field :start_date, class:"form-control", placeholder:"01 Mayis 2020" %>
  </div>

  <div class="field form-group">
    <%= form.label :last_payment %>
    <%= form.text_field :last_payment, class:"form-control", placeholder:"13 Mayis 2022" %>
  </div>

  <div class="field form-group">
    <%= form.label :notes %>
    <%= form.text_field :notes, class:"form-control", placeholder:"Turnuva hazirlik, borc vs.." %>
  </div>
  <div class="field form-group">
  <%= form.number_field :user_id, id: :fighter_user_id, class:"form-control", value:current_user.id, type: :hidden  %>
  </div>
  
  <br/>
  <div class="actions">
    <%= form.submit class:"btn btn-dark" %>
  </div>
<% end %>
