<% if user_signed_in? %>
  <table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
      <tr>
        <th>İsim</th>
        <th>Telefon</th>
        <th>Dövüş Stili</th>
        <th>Kuşak</th>
        <th>Başlama Tarihi</th>
        <th>Son Ödeme</th>
        <th>Notlar</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @fighters.each do |fighter| %>
        <% if fighter.user == current_user %>
        <tr>
          <td><%= link_to fighter.first_name + ' ' + fighter.last_name, fighter, class:"link-secondary" %> </td>
          <td><%= fighter.phone %></td>
          <td><%= fighter.style %></td>
          <td><%= fighter.rank %></td>
          <td><%= fighter.start_date %></td>
          <td><%= fighter.last_payment %></td>
          <td><%= fighter.notes %></td>
          <td><%= link_to 'Sil', fighter, method: :delete, data: { confirm: 'Emin Misin?' },  type:"button", class:"btn btn-outline-danger btn-sm" %></td>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Yeni Sporcu Ekle', new_fighter_path, class:"btn btn-secondary" %>
<% else %>
  <h1>Hector Spor Kulübü Sporcu Bilgi Sistemine Hoşgeldiniz</h1>
<br/><br/>
<p>Uygulamayı kullanmak için lütfen giriş yapınız<p>
<% end %>
